<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="lib/vue.min.js"></script>
    <script src="lib/vue-router-3.1.5.js"></script>
</head>
<body>
<div id="app">
    <!-- 分析需求 -->
    <!-- 1. 我们要监听到 文本框数据的改变，这样才能知道  什么时候去拼接 出一个fullname -->
    <!-- 2. 如何监听到 文本框的数据改变呢？-->
    <input type="text" v-model="firstname"> +
    <input type="text" v-model="lastname"> =
    <input type="text" v-model="fullname">
</div>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            firstname: '',
            lastname: '',
            fullname: ''
        },
        methods: {

        },
        watch: { //使用这个属性，可以监视 data 中指定数据的变化，然后触发这个 watch 中对应的function 处理函数
            //function中自带两个参数，第一个参数是 变化后的值（新值），第二个是变化之前的值（旧的值）
            'firstname': function(newVal, oldVal){
                console.log('newValue = ' + newVal)
                console.log('oldValue = ' + oldVal)
                this.fullname = newVal + '-' + this.lastname
            },
            'lastname': function(newVal){
                console.log('newValue = ' + newVal)
                this.fullname = this.firstname + '-' + newVal
            }
        }
    });
</script>
</body>
</html>
